<div class="container mx-auto p-6">
  <div class="flex flex-row justify-between">
    <h2 class="text-2xl font-bold mb-4 text-gray-200">Attendees</h2>
    <button
      [routerLink]="['/attendees/register']"
      class="mb-4 bg-gray-600 text-white py-2 px-4 rounded-md hover:bg-orange-500"
    >
      + Register Attendee
    </button>
    </div>
    <table class="w-full bg-white shadow-md rounded-lg overflow-hidden text-gray-600">
      <thead class="bg-gray-100">
        <tr>
          <th class="p-4 text-left">#</th>
          <th class="p-4 text-left">Full Name</th>
          <th class="p-4 text-left">Email</th>
          <th class="p-4 text-left">Event Name</th>
          <th class="p-4 text-left">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attendee of attendees let i = index" class="border-b hover:bg-gray-50">
          <td class="p-4">{{ i + 1 }}</td>
          <td class="p-4">{{ attendee.fullName }}</td>
          <td class="p-4">{{ attendee.email }}</td>
          <td class="p-4">{{ eventMap[attendee.eventId] || attendee.eventId }}</td>
          <td class="p-4 space-x-2">
            <button
              [routerLink]="['/attendees', attendee.id]"
              class="text-blue-400 hover:underline"
            >
            <span class="material-icons">visibility</span>
            </button>
            <button
              (click)="deleteAttendee(attendee.id)"
              class="text-red-400 hover:underline"
            >
            <span class="material-icons">delete</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>