/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


body {
  margin: 0;
  font-family: "Urbanist", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
  background-image: url('https://img.freepik.com/free-photo/lights-prisms-effect-close-up_23-2148917916.jpg?t=st=1745905032~exp=1745908632~hmac=8a168c3b3f5c587c7a7010d25676c9941b76d8e768c54069021aca59faa607d7&w=996');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  color: white;
}
